:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #f4f3f0;
}

* {
  font-family: 'Quicksand', sans-serif !important;
}

.navbar {
  width: inherit;
  height: 60px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.navbar-logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home > .services {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  border: dotted 1px;
  padding: 1%;
  border-radius: 6px;
}

.home > .logo {
  width: 6%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sqs queue page */

.pull-details-container {
  padding-left: 20px;
  display: flex;
  gap: 20px;
  justifyContent: flex-start;
}

.pull-details-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sqs-page-paper-container {
  width: 90%;
  margin-top: 3%;
}

.sqs-page-padding-left {
  padding-left: 20px;
}

.sqs-page-padding-right {
  padding-right: 20px;
}
/* sqs queue page end */
