:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.navbar {
  width: inherit;
  height: 60px;
  background: #272767;
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
}


tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #272767;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
